#WordCloud li {
}

#WordCloud button {
    width: 100%;
}

#Recipients li {
    float: left;
    margin: 0.1em;
    background-color: #ccc;
    padding: 0.25em 1em;
    border-radius: 1em;
}

.modal {
    max-height: none;
}

.user-view .circle {
    display: inline-block;
    margin: 0 auto;
}

.card {
    margin: 1em;
    display: inline-table;
    width: 45%;
    height: 250px;
    background: #eee;
}

.card.active {
    opacity: 1;
}

.card.inactive {
    display: none;
}

@keyframes mymove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

.card .badge {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.card .card-action button,
.side-nav button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    margin: 0.25em;
    background-color: #fff;
}

.side-nav button {background-color: #eee;c;color: #000;}

.card .card-action {
    display: table-cell;
    width: 10%;
    border: none;
    vertical-align: middle;
    border-left: 1px solid #eee;
}

.card .card-action a {
}

.card .card-content {
    padding: 2em 0 2em 2em;
    vertical-align: middle;
    display: table-cell;
}

.card .card-content .link {
    margin: 1em 0;
}

.card .card-content .link a {
    font-size: 1.5em;
    display: block;
    color: #000;
    /* text-shadow: 2px 2px #ccc; */
}

.card .material-icons {
    display: inline;
    vertical-align: middle;
}
