@charset "utf-8";
body {
	background: #fff;
	overflow: auto;
}
.twitter-share-button {}
#tweets li p {
	margin: 0;
	position: relative;
	z-index: 2;
	font-size: 125%;
	line-height: 125%;
}
#tweets li .shade {
	opacity: 0.3;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#tweets li span {
	margin: 0;
	position: absolute;
	z-index: 2;	
	bottom: 0;
	width: 100%;
	left: 0;
}
#tweets li span a {
	display: inline-block;
	padding: 10px 20px 10px 15px;
	cursor: pointer;
	font-size: 75%;
	vertical-align: bottom;
}
#tweets li {
	padding-bottom: 0;
	position: relative;
	box-shadow: none;	
	margin: 0.5%;
}
#tweets li span a:last-child {
	float: right;
	padding: 10px 0;
	width: 45px;
	margin: 0;
	height: 100%;
}
#tweets .container {
	float: left;
	display: none;
}
#tweets .loading {
	background-image: url('/imx/_nav/ajax-loader.gif');
	height: 32px;
	padding: 0;
	width: 32px;
	box-shadow: none;
	display: inline-block;
	margin: 5%;
}
.openTweet {
	text-indent: -100000px;
	margin: 0 10px;
	position: relative;
}
.openTweet:after {
	content: 'Go';
	position: absolute;
	right: 0;
	top: 0;
	text-indent: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}
#filter {
	padding: 10px;
	width: 100%;
	position: relative;
	margin: 0;
	text-align: center;
}
#filter-count {
	position: relative;
	top: -35px;
	right: 0;
	z-index: 5;
	background: #69C;
	color: white;
	padding: 2px 4px;
	font-family: arial;
	font-weight: bold;
	font-size: 10px;
	border-radius: 20px;
	display: none;
	margin: 0;
	min-width: 2px;
	width: 20px;
	height: 16px;
}
.favorite {
	text-shadow: none;
	background-color: #000 !important;
}
#tweets li span a.favoriteLink {
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	opacity: 0.2;
}
#tweets li td {text-align: center;}
#tweets li.favorite span a.favoriteLink {
	color: red;
	text-shadow: none;
	opacity: 1;
	background-color: #fff;
	padding-right: 25px;
}
#tweets li.favorite span a.shareLink {
	opacity: 1;
	font-weight: bold;
}
#tweets li.favorite span a.tag {display: none;}
#tweets li span a.shareLink {
	width: 10%;
	white-space: nowrap;
}
#zerostate {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #333;
	z-index: 3;
	display: none;
}
.cloud {
	padding: 5%;
	min-width: 0;
	cursor: pointer;
	background-color: transparent;
	color: #333;
	display:none;
}
.cloud span {
	text-align: right;
}
.cloud.visible {
	display: block;
}
#tweets li span a.tag {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 33%;
	padding-left: 10px;
	padding-right: 0;
}
#tweets .table .td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0;
}
#tweets .table {
	padding: 0;
	position: relative;
	vertical-align: bottom;
	display: inline-block;
	width: 100%;
}
@media (max-width: 640px) {
	#tweets li {
		width: auto;
		height: auto;
		margin: 1% 2%;
		padding: 5% 5% 15% 5%;
		font-size: 110%;
		min-width: 200px;
	}	
	.wrap {
		width: 100%;
		padding: 5%;
	}
	.sidebar a.searchNow {
		width: 44%;
	}
	.clearSearch, .resetTags {
		width: 44%;
	}	
}
@media (min-width: 640px){
	.sidebar a.searchNow {
		margin-top: 7px;
	}	
	#tweets .cloud {
		border: 1px solid #ccc;
		height: auto;
		width: auto;
		float: left;
		margin-left: -1px;
		margin-top: -1px;
		padding: 3%;
	}
}
@media (min-width: 860px){
	#tweets li {
		width: 30%;
		box-sizing: border-box;
	}
	#tweets li span a.tag {
		width: 25%;
	}	
} 
@media (min-width: 1024px) {
	#tweets li p {font-size: 100%;}
}
@media (min-width: 1230px) {
	#tweets .container {
		float: right;
		width: 70%;
		position: relative;
		top: -170px;
	}
	#wordCloud {
		float: left;
		width: 25%;
		clear: left;
	}	
	.search-box {
		width: 25%;
		float: left;
		
	}	
	.search-box .wrap {width: 100%;}
	.sidebar a.searchNow,
	.clearSearch, 
	.resetTags {
		width: 45%;
		margin-top: 10px;
	}
	#tweets li {float: left;}
	#tweets li.tweetItem:first-child {
		width: 92%;
		height: auto;
	}
	#tweets li.tweetItem:first-child p {
		font-size: 200%;
		margin-bottom: 100px;
	}
	#tweets li.tweetItem:nth-child(2) {
		width: 61%;
	}
	#tweets li.tweetItem:nth-child(2) p {
		font-size: 150%;
	}	
	#tweets .cloud {
		display: block;
	}
	#toggleWordCloud {display: none;}
}
