#WordCloud li {
}

#WordCloud button {
    width: 100%;
}

#Recipients li {
    float: left;
    margin: 0.1em;
    background-color: #ccc;
    padding: 0.25em 1em;
    border-radius: 1em;
}

.modal {
    max-height: none;
}

.user-view .circle {
    display: inline-block;
    margin: 0 auto;
}

.card {
    margin: 1em;
    display: inline-table;
    width: 45%;
    height: 275px;
    background: #fff;
    float: left;
}

.card.active {
    opacity: 1;
}

.card.inactive {
    display: none;
}

@keyframes mymove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

.card .badge {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.card .card-action button,
.side-nav button {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin: 0 0 0 1.25em;
    background-color: #fff;
    font-size: 1.25em;
    color: #ccc;
    padding: 0.5em;
    line-height: 1em;
}

.side-nav button {background-color: #eee; color: #000;}

.card .card-action {
    display: inline-block;
    border: none;
    vertical-align: bottom;
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.card .card-action a {	
}

.card .chip {
	background-color: #eee;
}

.card .card-content {
    padding: 2em 2em 0 2em;
    vertical-align: middle;
    display: inline-block;
}

.card .card-content .link {
    margin: 1em 0;
}

.card .card-content .link a {
    font-size: 1.5em;
    display: block;
    color: #000;
    /* text-shadow: 2px 2px #ccc; */
}

.card .card-content button {
    background: #fff;
    border: none;
}

.card .material-icons {
    display: inline;
    vertical-align: middle;
}

.modal .card {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
}

.modal .card .card-content {
    position: relative;
    /* background: red; */
    width: 50%;
    display: table-cell;
    padding: 1em 0 1em 1em;
}

.modal .card .card-action {
    position: relative;
    /* background: lime; */
    width: 35%;
    display: table-cell;
    padding-left: 0;
    vertical-align: middle;
}

.card .card-action button.waves-red {
	border-color: red;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}