// cards.scss

.card {
    background: #333;
    border-radius: 10px;
    border: none;
    top: 0;
    left: 0;
    display: inline-block;
    width: 32%;
    height: 30rem;
    max-width: 350px;
    position: relative;
	margin: 1em;

    .card-action {

        width: 100%;
        z-index: 2;
        padding: 2em;
        border: none;
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;

        div {
            display: inline-block;
            width: 45%;
        }

        button {
			width: auto;
			height: auto;
			border: 1px solid;
			border-radius: 100%;
			margin-left: 0.5em;
			background-color: transparent;
			font-size: 1em;
			padding: 0.5em;
			line-height: 1em;
			opacity: 0.5;
			color: #fff;
		}
		
        button.waves-red.glow {
            animation-name: glow;
            animation-iteration-count: infinite;
        }

        a {
			opacity: 0.5;
			font-size: 9px;
			padding: 0 2em;
			letter-spacing: 1px;
			color: #fff !important;
        }

        * {
            &:hover {
                opacity: 1;
            }
        }

        button.waves-red {
            background-color: $white;
            opacity: 1;
        }
    }

    &:hover {
        box-shadow: none;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.1;
        z-index: 1;
        left: 0;
        top: 0;
        display: none;
    }

    .chip {
        background-color: $trans;
        display: inline-block;
        margin: 0;
        border: 1px solid $white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .badge {
        vertical-align: middle;
        display: inline-block;
        float: none;
        margin: 0 0 1em 0;

        &:after {
            content: '' !important;
        }
    }

    .card-content {
        padding: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
		height: 100%;
		
		a {
			&:hover {
				cursor: pointer;
			}
		}
	
		button {
            background: #fff;
			border: none;
			
			&:hover {
				cursor: pointer;
			}
		}

        .img-contain {
            position: relative;
            overflow: hidden;
            height: 12em;
            display: block;
            background-color: $trans-gray;
            background-position: center;
            background-size: cover;
			text-align: center;
			
			a {
				display: block;
				height: 100%;
				width: 100%;				
			}

            // &:before {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     height: 100%;
            //     width: 100%;
            // }

            img {
                z-index: 1;
            }
        }

        .link {
            margin: 2em;

            a {
                font-size: 1.25em;
                display: block;
                color: $white;
                white-space: normal;

                button {
                    font-size: 1em;
                    opacity: 0.1;
                    border: none;
                    display: inline;
                    background: transparent;
                }
            }
        }


    }

    .material-icons {
        display: inline;
        vertical-align: middle;
    }

    .card-reveal {
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;

        .card-title {
            line-height: 1em;
            width: 100%;
            display: inline-block;
            position: absolute;
            top: 0;
            z-index: 2;

            i {
                padding: 0.5em;
            }
        }

        textarea {
            height: calc(100% - 3.9em);
            max-height: calc(100% - 3.9em);
            width: 100%;
            max-width: 100%;
            border-color: $trans;
            padding: 1em;
            position: absolute;
            bottom: 0;
        }
    }
}

.card.active {
    opacity: 1;
}

.card.inactive {
    display: none;
}
