// colors.scss
$color_1: #fff;
$color_2: #000;
$color_3: #333;
$background_color_1: #ccc;
$background_color_2: #000;
$background_color_3: transparent;
$background_color_4: rgba(255, 255, 255, 0.25);
$background_color_5: #fff;
$background_color_6: #333333;
$background_color_7: #eee;
$border_color_1: transparent;
$border_color_2: #fff;
$border_color_3: #333;
