.sharedTiles {
  width: 75%;
  float: right;
}


.searchBox {
  padding: 0;
  margin: 0.5em 0;
  color: $black;

  form {
    i {
      color: $black;
    }

    .active {
      i {
        display: none;
      }
    }
  }

  input[type=search] {
    border-color: $black;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    text-overflow: ellipsis;
  }


  .input-field {
    input[type=search] {
      &:focus {
        padding: 0 1em;
        width: calc(100% - 2rem);
        border-color: inherit;
      }
    }
  }

}