#ExtraControls .chip {
  line-height: 100%;
  height: auto;
  border-radius: 2em;
  padding: 0 1em;
  font-size: unset;
}

.sharedTiles {
  width: 75%;
  float: right;
}


.searchBox {
  padding: 0;
  margin: 0.5em 0;
  color: $black;

  form {
    i {
      color: $black;
    }

    .active {
      i {
        display: none;
      }
    }
  }

  input[type=search] {
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    text-overflow: ellipsis;
    position: relative;
    z-index: 0;
  }


  .input-field {

    a {
      right: 1em;
      position: absolute;
      z-index: 1;
      top: 0.75em;
    }
    
    input[type=search] {
      &:focus {
        border: none;
        box-shadow: none;
      }
    }

    label {
      cursor: pointer;
    }
  }

}

#SearchBox {
  background: #fff;
  border-radius: 4em;  
}