body {
    background-color: $white;   
}

#TwitoluApp {
    float: left;
    width: 100%;
    position: relative;
}

#tweets {
    padding: 0;
    top: 5em;
    position: relative;
}

#MainNav {
    position: fixed;
    width: 100%;
    background-color: $dark-gray;
    z-index: 1;

    .nav-wrapper {
        padding: 0 1em;
    }
}

.tileBoard {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    ul {
        margin: 0;
    }
}

#WordCloud {
    button {
        width: 100%;
    }
    .chip {
        height: auto;
        font-size: 2em;
        line-height: 2em;
        padding: 0 1em;
        border-radius: 4em;
        margin-bottom: 1em;
        margin-right: 1em;    
    }
}

#Recipients {
    li {
        float: left;
        margin: 0.1em;
        padding: 0.25em 1em;
        border-radius: 1em;
    }
}

#slide-out.side-nav {
    left: 0;
    top: 0;
    position: fixed;
}

.user-view {
    .circle {
        display: inline-block;
        margin: 0 auto;
    }
}

.side-nav {

    button {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-left: 0.5em;
        background-color: $trans;
        font-size: 1em;
        padding: 0.25rem;
        line-height: 1em;
        display: inline-block;
        text-align: center;
        color: $black;
    }

    width: 600px;

    .user-view {
        .name {
            margin: 0;
            position: relative;
            top: -0.5em;
        }
    }

    .badge {
        border: 1px solid #eee;
        padding: 0.75em;
        line-height: 1em;
        margin: 0 !important;
        height: auto;
        font-size: 1em;
    }
}

.chip {
    b {
        opacity: 0.5;
        margin-left: 0.5em;
    }

    > img {
        z-index: 1;
    }
}

button.retweet {
    font-weight: bold;
    font-size: 65%;
    text-transform: uppercase;
}

.main {
    .navbar-fixed {
        z-index: 1000;

        nav {
            z-index: 1000;
        }

        h1 {
            margin: 2rem 1rem;
            font-size: 3rem;
            position: relative;
        }
    }
}
