body {
    // background: rgb(17,17,17);
    // background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(204,204,204,1) 100%);
    // padding-bottom: 8em;
    background: #333;
}

h1, h2, h3, h4, h5 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
    color: #fff;    
}

.tileBoard {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    padding: 4em 0;
    top: -2em;
    position: relative;
    z-index: 0; 

    ul {
        margin: 0;
    }

    .card {
        height: 18em;

        &.ender {
            text-align: center;
            display: inline-block;

            i {
                font-size: 6em;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                position: relative;
                top: 30%;
            }
        }       
    }

}

.chip {
    b {
        opacity: 0.5;
        margin-left: 0.5em;
    }

    > img {
        z-index: 1;
    }
}

button.retweet {
    font-weight: bold;
    font-size: 65%;
    text-transform: uppercase;
}

.main {
    .navbar-fixed {
        z-index: 1000;

        nav {
            z-index: 1000;
        }

        h1 {
            margin: 2rem 1rem;
            font-size: 3rem;
            position: relative;
        }
    }
}


.user-view {
    .circle {
        display: inline-block;
        margin: 0 auto;
    }
}

.side-nav {

    width: 600px;

    button {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-left: 0.5em;
        background-color: $trans;
        font-size: 1em;
        padding: 0.25rem;
        line-height: 1em;
        display: inline-block;
        text-align: center;
        color: $black;
    }

    .user-view {
        .name {
            margin: 0;
            position: relative;
            top: -0.5em;
        }
    }

    .badge {
        border: 1px solid #eee;
        padding: 0.75em;
        line-height: 1em;
        margin: 0 !important;
        height: auto;
        font-size: 1em;
    }
}

.fader {
    position: fixed;
    right: 0;
    top: 0;
    width: 15em;
    background: rgb(17,17,17);
    background: -moz-linear-gradient(90deg, rgba(17,17,17,0) 0%, rgba(51,51,51,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(17,17,17,0) 0%, rgba(51,51,51,1) 100%);
    background: linear-gradient(90deg, rgba(17,17,17,0) 0%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111",endColorstr="#333333",GradientType=1);
    height: 100%;
    z-index: 10;
}   

#TwitProfile {
    padding-bottom: 0;
}

#TileBoard {

    .card {
        height: 28em;
    }

}

#WordCloud {
    margin: 4em 6em 0em 6em;
    padding-bottom: 2em;
    z-index: 0;
    position: relative;
    text-align: center;

    button {
        width: 100%;
    }

    .chip {
        height: auto;
        width: auto;
        font-size: 2em;
        line-height: 2em;
        padding: 0 1em;
        border-radius: 4em;
        margin-bottom: 1em;
        margin-right: 1em;    
    }

}

#Recipients {
    li {
        float: left;
        margin: 0.1em;
        padding: 0.25em 1em;
        border-radius: 1em;
    }
}

#slide-out.side-nav {
    left: 0;
    top: 0;
    position: fixed;
}

#TwitoluApp {
    float: left;
    width: 100%;
    position: relative;
}

#tweets {
    padding: 6em;
}

#MainNav {
    position: fixed;
    width: 100%;
    background-color: $dark-gray;
    z-index: 1;
    height: auto;

    .nav-wrapper {
        padding: 0 1em;
    }
}
