.card {
  background: #333;
  border-radius: 10px;
  border: none;
  top: 0;
  left: 0;
  display: inline-block;
  width: 32%;
  height: 30rem;
  max-width: 350px;
  position: relative;
  margin: 1em;
}

.card .card-action {
  width: 100%;
  z-index: 2;
  padding: 2em;
  border: none;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card .card-action div {
  display: inline-block;
  width: 45%;
}

.card .card-action button {
  width: auto;
  height: auto;
  border: 1px solid;
  border-radius: 100%;
  margin-left: 0.5em;
  background-color: transparent;
  font-size: 1em;
  padding: 0.5em;
  line-height: 1em;
  opacity: 0.5;
  color: #fff;
}

.card .card-action button.waves-red.glow {
  -webkit-animation-name: glow;
          animation-name: glow;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .card-action a {
  opacity: 0.5;
  font-size: 9px;
  padding: 0 2em;
  letter-spacing: 1px;
  color: #fff !important;
}

.card .card-action *:hover {
  opacity: 1;
}

.card .card-action button.waves-red {
  background-color: #fff;
  opacity: 1;
}

.card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
}

.card .chip {
  background-color: transparent;
  display: inline-block;
  margin: 0;
  border: 1px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .badge {
  vertical-align: middle;
  display: inline-block;
  float: none;
  margin: 0 0 1em 0;
}

.card .badge:after {
  content: '' !important;
}

.card .card-content {
  padding: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .card-content a:hover {
  cursor: pointer;
}

.card .card-content button {
  background: #fff;
  border: none;
}

.card .card-content button:hover {
  cursor: pointer;
}

.card .card-content .img-contain {
  position: relative;
  overflow: hidden;
  height: 12em;
  display: block;
  background-color: rgba(255, 255, 255, 0.25);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.card .card-content .img-contain a {
  display: block;
  height: 100%;
  width: 100%;
}

.card .card-content .img-contain img {
  z-index: 1;
}

.card .card-content .link {
  margin: 2em;
}

.card .card-content .link a {
  font-size: 1.25em;
  display: block;
  color: #fff;
  white-space: normal;
}

.card .card-content .link a button {
  font-size: 1em;
  opacity: 0.1;
  border: none;
  display: inline;
  background: transparent;
}

.card .material-icons {
  display: inline;
  vertical-align: middle;
}

.card .card-reveal {
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card .card-reveal .card-title {
  line-height: 1em;
  width: 100%;
  display: inline-block;
}

.card .card-reveal .card-title i {
  padding: 0.5em;
}

.card .card-reveal textarea {
  height: calc(100% - 3.9em);
  max-height: calc(100% - 3.9em);
  width: 100%;
  max-width: 100%;
  border-color: transparent;
  padding: 1em;
}

.card.active {
  opacity: 1;
}

.card.inactive {
  display: none;
}

body {
  background-color: #fff;
}

#TwitoluApp {
  float: left;
  width: 100%;
  position: relative;
}

#tweets {
  padding: 0;
  top: 5em;
  position: relative;
}

#MainNav {
  position: fixed;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

#MainNav .nav-wrapper {
  padding: 0 1em;
}

.tileBoard {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 4em 0;
  top: -4em;
  position: relative;
  z-index: 0;
}

.tileBoard ul {
  margin: 0;
}

#TileBoard .card {
  height: 18em;
}

#WordCloud button {
  width: 100%;
}

#WordCloud .chip {
  height: auto;
  font-size: 2em;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 4em;
  margin-bottom: 1em;
  margin-right: 1em;
}

#Recipients li {
  float: left;
  margin: 0.1em;
  padding: 0.25em 1em;
  border-radius: 1em;
}

#slide-out.side-nav {
  left: 0;
  top: 0;
  position: fixed;
}

.user-view .circle {
  display: inline-block;
  margin: 0 auto;
}

.side-nav {
  width: 600px;
}

.side-nav button {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: 0.5em;
  background-color: transparent;
  font-size: 1em;
  padding: 0.25rem;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  color: #000;
}

.side-nav .user-view .name {
  margin: 0;
  position: relative;
  top: -0.5em;
}

.side-nav .badge {
  border: 1px solid #eee;
  padding: 0.75em;
  line-height: 1em;
  margin: 0 !important;
  height: auto;
  font-size: 1em;
}

.chip b {
  opacity: 0.5;
  margin-left: 0.5em;
}

.chip > img {
  z-index: 1;
}

button.retweet {
  font-weight: bold;
  font-size: 65%;
  text-transform: uppercase;
}

.main .navbar-fixed {
  z-index: 1000;
}

.main .navbar-fixed nav {
  z-index: 1000;
}

.main .navbar-fixed h1 {
  margin: 2rem 1rem;
  font-size: 3rem;
  position: relative;
}

#ExtraControls .chip {
  line-height: 100%;
  height: auto;
  border-radius: 2em;
  padding: 0 1em;
  font-size: unset;
}

.sharedTiles {
  width: 75%;
  float: right;
}

.searchBox {
  padding: 0;
  margin: 0.5em 0;
  color: #000;
}

.searchBox form i {
  color: #000;
}

.searchBox form .active i {
  display: none;
}

.searchBox input[type=search] {
  border-color: #000;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
  text-overflow: ellipsis;
  position: relative;
  z-index: 0;
}

.searchBox .input-field a {
  right: 1em;
  position: absolute;
  z-index: 1;
  top: 0.75em;
}

.searchBox .input-field input[type=search]:focus {
  padding: 0 0 0.25em 2em;
  width: calc(100% - 2rem);
  border-color: inherit;
}
/*# sourceMappingURL=base.css.map */